# Jupyter Book / Sphinx builds
_build/
build/
**/.ipynb_checkpoints/

# Python env
.venv/
.env/
*.egg-info/

# Old versions of things, misc setup files
_trash/
build.log
lecture_refining_notes.txt
generate_toc.py
_config-fast.yml

# OS cruft
.DS_Store
Thumbs.db

